.mfx-button{
    -fx-background-color:  #0f156d;
}
.mfx-button:hover {
    -fx-background-color: #f05502;

}
.window-control-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.window-control-button:hover {
    -fx-background-color: #9e9e9e;
}


.menu-button {
    -fx-background-color: rgba(49, 130, 200, 0.56);
    -fx-background-radius: 5;
}
.menu-button .arrow-button {
    -fx-background-color: transparent;
}
.menu-button .arrow-button .arrow {
    -fx-background-color: white;
    -fx-transition: -fx-rotate 0.2s ease-in-out;
}
.menu-button:showing .arrow-button .arrow {
    -fx-rotate: 180;
}