.root {
    -fx-base: #f5f5f5;
    -fx-background: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-text-fill: #000000;
}

.label {
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}
.dashboard-card {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 3);
}

.chart-title {
    -fx-text-fill: #333333;
}

.card-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
}

.card-value {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
}

.metric-label {
    -fx-font-size: 14px;
    -fx-fill: #555555;
}

.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0, 0, 2);
    -fx-padding: 10px;
}

.chart-legend-item {
    -fx-text-fill: #333333;
}

.chart-legend-item-symbol {
    -fx-padding: 5px;
}
.mfx-text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #e0e0e0;
}

.mfx-text-field:focus-within {
    -fx-border-color: #0f156d;
}

.mfx-text-field .floating-text {
    -fx-text-fill: #555555;
}
.floating-text{
    -fx-background-color: transparent;
}
.mfx-password-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #e0e0e0;
}

.mfx-password-field:focus-within {
    -fx-border-color: #0f156d;
}

.mfx-password-field .floating-text {
    -fx-text-fill: #555555;
}
.clock-label {
    -fx-font-size: 14px;
    -fx-text-fill: #4B0082;
    -fx-font-weight: bold;
}